/*.basecolors{
  color:#16697A;
  color:#A4F4A4;
  color:#489FB5;
  color:#FFA62B;
  color:#401F3E;
}*/
footer {
  background-color:#A4F4A4;
  height: 300px;
  padding-top: 20px;
}

nav {
  text-align: center;
  position: sticky;
  top: 0px;
  background-color: #ffffff;
  color: white;
  height: 120px;
  border-radius: 2%;
  z-index: 1000;
  box-shadow: 5px 5px 5px #04a404;
  margin-bottom: 15px;
  
}

body {
  background-color: white;
  overflow-y: scroll;
  margin:0;

}

section {
  height: 500px;
  margin: 0px;
  padding: 0;
  font-size: 20px;

}

#recipe {
  background-color: #16697A;

}

#tips {
  background-color: #FFA62B;

}

#about {
  background-color: #489FB5;

}

.card {

  margin: 0px 0px 0px 0px;
  background-color: #ffffff;
  padding: 0px;


}

a {
  text-decoration: none;
}

.homelogo {
  width: 42px;
  height: 42px;
  position: relative;
  top: 15px;
  left: -175px;
}

.upcoming_img {
  width: 100%;
  height: 600px;

}

#upcoming {
  height: 600px;
  z-index: 999;
  background-image: url('https://cdn.drop.media/guest/43c09b56-0710-4dec-aed0-708e7b271c41.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#recipecover{
  height: 600px;
  z-index: 999;
  background-image: url('https://cdn.drop.media/guest/75f85ab7-b0fc-492d-90b6-a41931734361.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.upcominginfo {
  width: 25%;
  height:55%;
  padding:2%;
  padding-top: 1%;
  background-color: rgb(120, 59, 59);
  position: relative;
  top: 20%;
  
  left: 3%;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: "Kanit";
}

.demo{
  font-size: 35px;
}
.recipeinfo2 {
  width: 37%;
  height:42%;
  padding:2%;
  padding-top: 0.1%;
  background-color: #FFA62B;
  position: relative;
  top: 22%;
  left: 26%;
  border-radius: 20px;
  text-align: center;
  font-family: "Kanit";
  color: white;
  font-size: 19px;
}


button {
  background-color: white;
  color: green;
  border: none;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: green;
  color: white;
}

button:active {
  opacity: 0.7;
}

.web-name {
  text-align: left;
  color: green;
  font-family: "Kanit";
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 30px;
  display: inline-block;
  position: relative;
  top: 14px;
  left: -270px;
}

.footer-web-name {
  display: inline-block;
  color: green;
  font-family: "Kanit";
  font-weight: bold;
  font-size: 30px;
  width: 130px;
  margin-left: 300px;
}

.footer-homelogo {
  width: 45px;
  height: 45px;
  display: inline-block;

}

.footer-button {
  background-color: rgb(82, 163, 82);
  color: white;
  border: none;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 3px;
}

.footer-links {
  display: inline-block;
  margin-left: 50px;
  margin-top: 20px;
}

.footer-logos {
  display: inline-block;
position: relative; 
  left: 500px;
}

.pizza {
  width: 270px;
  height: 270px;
  position: relative;
  top: 40px;
  z-index: 1;
  left: 190px;
  border-radius: 100%;
  display: inline-block;
}

.lasagna {
  width: 280px;
  height: 290px;
  position: relative;
  top: -300px;
  z-index: 1;
  right: -845px;
  border-radius: 100%;
  display: inline-block;
}
.smilingchild {
  width: 250px;
  height: 250px;
  position: relative;
  top: 40px;
  z-index: 1;
  left: 200px;
  border-radius: 20px;

}

.recipeinfo {
  background-color: rgb(120, 59, 59);
  border-radius: 20px;
  padding-bottom: 0;
  padding-left: 25px;
  padding-top: 50px;
  padding-right: 25px;
  width: 50%;
  height: 300px;
  position: relative;
  top: -230px;
  left: 400px;
  text-align: center;


}

.tipsinfo {
  background-color: rgb(120, 59, 59);
  border-radius: 20px;
  padding-bottom: 0;
  padding-left: 25px;
  padding-top: 50px;
  padding-right: 30px;
  width: 50%;
  height: 300px;
  position: relative;
  top: 40px;
  left: 100px;
  text-align: center;
}

.aboutinfo {
  background-color: rgb(120, 59, 59);
  border-radius: 20px;
  padding-bottom: 0;
  padding-left: 25px;
  padding-top: 50px;
  padding-right: 25px;
  width: 50%;
  height: 300px;
  position: relative;
  top: 20px;
  left: 400px;
  text-align: center;


}

.recipe_img {
  width: auto;
  height: 300px;
  position: relative;
  left: 25%;
}

.recipe-header {
  font-family: "Kanit";
  font-size: 45px;
  text-align: center;
  color: green;
}

#search-bar {
  font-size: 15px;
  padding-left: 10px;
  padding-right: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 500px;
  margin-right: 0px;
  border-radius: 5px;
  border-width: 1px;
}

.search-button {
  background-color: green;
  color: white;
  cursor: pointer;
  height: 50px;
}

.search-button:hover {
  background-color: lightgreen;
  color: white;
}

button:active {
  opacity: 0.7;
}

.recipe-preview {
  background-color: #489FB5;
  margin-right: 250px;
  margin-left: 250px;
  vertical-align: top;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  color:#401F3E ;
  border-radius: 20px;
  height: auto;
}

.recipe-info {
  text-align: center;

}

.recipe-ingredients {
  border-radius: 20px;

  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 25px;
  padding-top:15px; 
  padding-bottom: 15px;
  padding-right: 200px;
  padding-left: 200px;
  background-color: #FFA62B;
  text-align: center;
  font-size: 20px;
  font-family: "Kanit";
  font-weight: solid;

}

.recipe-directions {

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;

  padding-right: 30px;
  padding-left: 30px;
  padding-top:15px; 
  padding-bottom: 15px;
  background-color: #FFA62B;
  border-radius: 20px;

  text-align: center;
  font-size: 20px;
  font-family: "Kanit";
  font-weight: solid;
}

.recipe-title {
  margin-top: 10px;
  font-size: 20px;
  font-family: "Kanit";
}

.servings {
  font-size: 15px;
  font-family: "Kanit";
}

.duration {
  font-size: 14px;
  font-family: Arial;
}

.back-to-search {
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
}

.yt-video {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.follow-us {
  font-family: "Kanit";
  font-size: 15px;
  text-align: left;
}
